h1 {
    font-family: 'Nunito', sans-serif;
    font-size:50px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    margin-top: 125px;
    margin-bottom: 120xp;
}

.artikel-img{
    float:right;
    margin-right: 100px;
    padding-left: 25px;
    border-radius: 5px;
    border-color: none;

}

.tekst{
    padding-left: 100px;
    padding-top: 75px;
    padding-bottom: 75px;
}

a.ommig{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    padding-right: 50px;
    padding-bottom: 100px;

}


@media screen and (max-width: 600px) {

.artikel-img{
    padding: 25px;
    margin: auto;
    align-items:center;
}

.tekst{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}

a.ommig{
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    line-height: 32px;
    padding-right: 50px;
    padding-bottom: 75px;

}

}